*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: var(--color-background);
  color: var(--color-text);
  font: var(--text-font);
}

a {
  color: var(--color-accent);
}

a:hover {
  text-decoration: underline;
}
